@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Rubik:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "tailwindcss"; 
@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-rubik: "Rubik", sans-serif;
    
    --color-main-color : #5F9FF2;
}

.linear-upside-down{
    background: linear-gradient(to bottom, rgba(255,255,255,0.1),rgba(255,255,255,0.7), white);
}

*{
    /* border: greenyellow 1px solid; */
}
