@import "tailwindcss"; 

@theme {
    --font-montserrat: "Montserrat", sans-serif;

    --color-main-color : #5F9FF2;
}

.linear-upside-down{
    background: linear-gradient(to bottom, rgba(255,255,255,0.1), white);
}
